<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menambah User</title>
</head>
<body>
    <form action="/users" method="post">
        <label for="nama">Nama</label>
        <input type="text" id="nama" name="nama"> <br>

        <label for="jenis_kelamin"> Jenis Kelamin</label>
        <select name="jenis_kelamin" id="jenis_kelamin">
            <option value="Pria"> Pria</option>
            <option value="Wanita">Wanita</option>
        </select> <br>

        <label for="no_hp">Nomer HP :</label>
        <input type="number" id="no_hp" name="no_hp"> <br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <button type="submit">Create User</button>
    </form>
</body>
</html>