<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <a href="/users/create">Create</a>
    <table>
        <thead>
            <tr>
                <th>Nama</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (const user of users) { %>
                <tr>
                    <td><%= user.nama %></td>
                    <td>
                        <a href="/users/<%= user._id %>">Show</a>
                        <a href="/users/<%= user._id %>/edit">Edit</a>
                        <form action="/users/<%= user._id %>?_method=DELETE" method="post" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>
